.legen-car{
    color: white;
    margin-top: auto;
}


.sob_matri{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center
}

#navbarNav{
    width:50%; 
    background-color:whitesmoke;
}
#barra_navbar{
font-size: 15px;
background-color:whitesmoke;
border-radius: 10px;
box-shadow: 0px 0px 10px gray;
height: 80px;
width: 100%;
}
.m1{
margin-top: 80px;
margin-bottom: 20px;
}
/* EStilizaçÕ DO CARROUSSEL */
.img{
height: 350px;
}

/* Estilização dos daods biométricos */
.da-bio{
    background-color: rgba(10, 119, 192, 0.568);
    color: white;
    padding:20px;
    text-align: center;
    border-radius: 10px;
}

/* Aqui vem a estilizaação do dados academico */

.da-acad{
    background-color: rgba(110, 126, 151, 0.219);

    color: white;
    padding:20px;
    text-align: center; 
    border-radius: 10px;
}

/* fieldset{
    border: 1px solid rgba(128, 128, 128, 0.548)
} */

#coneta{

    width:35px;
    height: 35px;
}

